#licence_icon   {
    margin-top: 2vh;
}
div.container-card  {
    margin: 10vh auto;
    width: 70vw;
    margin-bottom: 20vh;
}
div.card    {
    width: 20vw;
    height: 40vh;
    border-radius: 0px;
}
div.card-header {
    text-align: center;
}
div.card-body   {
    text-align: center;
    font-family: "Noto Sans CJK Tc Medium","微軟正黑體","Open Sans";
    font-weight: bolder;
    font-size: 1.8em;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url("sites/creativecommon.tw/files/Publicher.png");
    transition-duration: 0.2s;        
}
div.card-body > p   {
    margin-top: 25%;
    vertical-align: middle;
    color: #ffffff;
    opacity: 0.9;
    transition-duration: 0.2s;    
}
div.card-body:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition-duration: 0.2s;
}
div.card-body:hover p   {
    opacity: 1.0;
    font-size: 1.2em;
    transition-duration: 0.2s;    
}    
div.card-deck   {
    margin: 5vh auto;
    width: 70vw;
}
h1.title    {
    margin: 10vh auto;
    text-align: center;
    font-family: "Noto Sans CJK Tc Bold";
    font-size: 1.5em;
}
div.iframe  {
    border: none;
    width: 30vw;
    height: 100%;
}
iframe  {
    width: 100%;
    height: 70vh;
    border: none;
}
div.container   {
    margin-bottom: 10vh;
}
img.card-img-top    {
    height: 40vh;
    width: 20vw;
}
div.main-container  {
    width: 72vw;
    margin: 0 auto;
}
div.main    {
    width: 100%;
    margin-top: 10vh;
}
img.main-img    {
    width: 60%;
    padding: 0;
}
div.main-textblock   {
    background-color: #1b1b1b;
    color: #ffffff;
    text-align: left;
}
p.main-text {
    margin: 10% auto;
    width: 90%;
}
div.links   {
    width: 65vw;
    font-family: "Noto Sans CJK Tc Regular";
    height: 70vh;
}
div.icons   {
    width: 13vw;
    margin-left: 3vw;
    height: 70vh;
}
h4.icon-title   {
    font-family: "Noto Sans CJK Tc Medium";
    font-size: 1.2em;
}  
div.description {
    width: 13vw;
    margin: 0 auto;
}
div.main-bottom {
    margin-top: 5vh;
}
h4.rss-title    {
    font-weight: bolder;
    font-family: "Noto Sans CJK Tc Medium";
    font-size: 1.5em;
    text-align: center;
}
p.rss-description   {
    font-size: 0.9em;
    width: 90%;
    margin: 0 auto;
}
footer.footer {
    width: 70vw;
}