#licence_icon   {
    margin-top: 2vh;
}
div.container-card  {
    margin: 10vh auto;
    width: 70vw;
    margin-bottom: 20vh;
}
div.card    {
    width: 20vw;
    height: 40vh;
    border-radius: 0px;
}
div.card-header {
    text-align: center;
}
div.card-body   {
    text-align: center;
    line-height: 30vh;
    font-family: "Noto Sans CJK Tc Reguler";
    font-size: 1.1em;
}
div.card-deck   {
    margin: 5vh auto;
    width: 70vw;
}
h1.title    {
    margin: 10vh auto;
    text-align: center;
    font-family: "Noto Sans CJK Tc Bold";
    font-size: 1.5em;
}